@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900 text-white font-sans antialiased;
}

/* Added for premium background effect */
.bg-slate-900 {
    background-color: #0F172A; /* Fallback */
    background-image: radial-gradient(circle at 1px 1px, rgba(255, 255, 255, 0.05) 1px, transparent 0);
    background-size: 2rem 2rem;
}
